body {
  background-color: rgb(241, 241, 241);
  padding: 0px;
  overflow-x: hidden;
}

.nav {
  position: relative;
  left: -100%;
}

.topbarcenter {
  position: relative;
  left: -100%;
}

center {
  position: relative;
  top: -500%;
}

#sidebar {
  z-index: 2;
  position: fixed;
  left: 20px;
  height: 31px;
  width: 31px;
  top: 15px;
}
#sidebar header {
  position: relative;
  left: -1000%;
}
#sidebar input {
  position: relative;
  left: -1000%;
  top: -1000%;
}
#sidebar hr {
  border: transparent;
  position: relative;
  left: -1000px;
}
#sidebar a {
  position: absolute;
  left: -1000px;
}

#sidebar:hover {
  width: 50%;
  height: 96%;
  background-color: rgb(253, 253, 253);
  position: fixed;
  z-index: 3;
  left: 0px;
  top: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;
}
#sidebar:hover header {
  position: fixed;
  left: 30px;
  font-size: 2.3em;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#sidebar:hover input {
  position: fixed;
  left: 4%;
  width: 48%;
  top: 100px;
  height: 40px;
  border-radius: 20px;
  font-size: 1.1em;
  border: 2px solid rgb(161, 161, 161);
  padding: 10px;
}
#sidebar:hover a {
  position: relative;
  top: 150px;
  left: 20px;
  font-size: 1.4em;
  color: black;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#sidebar:hover hr {
  position: relative;
  top: 150px;
  border: 1px solid rgb(184, 184, 184);
  left: 0px;
}

.topbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 93%;
  height: 20px;
  background-color: rgb(255, 255, 255);
  margin-top: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;
  z-index: 1;
}
.topbar .logo {
  width: 120px;
  position: relative;
  top: 80px;
}
.topbar .logo2 {
  width: 0px;
}
.topbar .menuicon {
  width: 31px;
  position: relative;
  top: -70px;
}
.topbar .blacklogin {
  width: 40px;
  position: absolute;
  left: 192%;
  top: -10px;
}
.topbar .whitelogin {
  width: 0px;
}
.topbar .whitesearch {
  width: 0px;
}
.topbar .tab {
  border: transparent;
}

.movies {
  width: 90%;
  height: 2500px;
  margin: auto;
  margin-top: 450px;
  padding: 15px;
  box-sizing: border-box;
}
.movies .movie1 {
  cursor: pointer;
  border-radius: 20px;
  width: 99%;
  height: 240px;
  text-align: center;
  font-size: 1.3em;
  transition: 0.2s;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.movies .movie1 img {
  width: 100%;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.movies .movie1:hover {
  color: grey;
}
.movies .movie2 {
  margin-top: 30%;
  cursor: pointer;
  border-radius: 20px;
  width: 99%;
  height: 240px;
  text-align: center;
  font-size: 1.3em;
  transition: 0.2s;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.movies .movie2 img {
  width: 100%;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.movies .movie2:hover {
  color: grey;
}
.movies .movie3 {
  margin-top: 30%;
  cursor: pointer;
  border-radius: 20px;
  width: 99%;
  height: 240px;
  text-align: center;
  font-size: 1.3em;
  transition: 0.2s;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.movies .movie3 img {
  width: 100%;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.movies .movie3:hover {
  color: grey;
}
.movies .movie4 {
  margin-top: 30%;
  cursor: pointer;
  border-radius: 20px;
  width: 99%;
  height: 240px;
  text-align: center;
  font-size: 1.3em;
  transition: 0.2s;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.movies .movie4 img {
  width: 100%;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.movies .movie4:hover {
  color: grey;
}
.movies .movie5 {
  margin-top: 30%;
  cursor: pointer;
  border-radius: 20px;
  width: 99%;
  height: 240px;
  text-align: center;
  font-size: 1.3em;
  transition: 0.2s;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.movies .movie5 img {
  width: 100%;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.movies .movie5:hover {
  color: grey;
}
.movies .movie6 {
  margin-top: 30%;
  cursor: pointer;
  border-radius: 20px;
  width: 99%;
  height: 240px;
  text-align: center;
  font-size: 1.3em;
  transition: 0.2s;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.movies .movie6 img {
  width: 100%;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.movies .movie6:hover {
  color: grey;
}
.movies .movie7 {
  margin-top: 30%;
  cursor: pointer;
  border-radius: 20px;
  width: 99%;
  height: 240px;
  text-align: center;
  font-size: 1.3em;
  transition: 0.2s;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.movies .movie7 img {
  width: 100%;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.movies .movie7:hover {
  color: grey;
}

.movie0 {
  z-index: 0;
  cursor: pointer;
  position: absolute;
  top: 100px;
  margin: auto;
  border-radius: 20px;
  width: 80%;
  left: 9%;
  height: 240px;
  text-align: center;
  font-size: 1.3em;
  transition: 0.2s;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.movie0 img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.movie0:hover {
  color: grey;
}

footer {
  background-color: rgb(3, 0, 52);
  width: 103%;
  height: 200px;
  position: absolute;
  bottom: -2700px;
  margin-left: -10px;
}
footer .topge {
  position: absolute;
  right: 10%;
  bottom: 40px;
}
footer p {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: absolute;
  left: 5%;
  bottom: 40px;
}

@media screen and (min-width: 770px) {
  .topbar {
    background-color: rgb(3, 0, 52);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
    z-index: 2;
  }
  .topbar .menuicon {
    position: relative;
    left: -100%;
  }
  .topbar .logo {
    position: relative;
    top: -100px;
  }
  .topbar .logo2 {
    position: absolute;
    left: -1%;
    width: 100px;
    top: -30px;
  }
  .topbar .topbarcenter {
    position: relative;
    top: 15px;
    z-index: 2;
    width: 100%;
    height: 50px;
  }
  .topbar .nav {
    color: white;
    text-decoration: none;
    font-size: 1.4em;
    padding: 1px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    position: relative;
    top: -20px;
    left: -10%;
    width: 150px;
  }
  .topbar .topbarcenter {
    position: relative;
    left: 0%;
  }
  .topbar .topbarcenter .tab {
    border: 2px solid red;
    width: 68px;
    border-radius: 10px;
    position: absolute;
    left: 2%;
    top: 20px;
  }
  .topbar center {
    position: relative;
    left: 0%;
  }
  .topbar .whitelogin {
    width: 35px;
    position: absolute;
    right: 4%;
    top: -20px;
  }
  .topbar .whitesearch {
    width: 35px;
    position: absolute;
    right: 10%;
    top: -20px;
  }
  .topbar .widesearch {
    position: absolute;
    top: -20px;
    right: 10%;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: transparent;
    font-size: 0px;
    transition: 0.3s;
  }
  .topbar .widesearch:hover {
    position: absolute;
    border-radius: 20px;
    top: -20px;
    right: 9%;
    width: 150px;
    height: 35px;
    padding: 10px;
    background-color: white;
    font-size: large;
  }
  .topbar span {
    position: absolute;
    left: 4%;
    top: 100px;
  }
  .movies {
    width: 98%;
    height: 1000px;
    margin: auto;
    margin-top: 150px;
    padding: 15px;
    top: 500px;
    position: absolute;
    display: flex;
    gap: 20px;
  }
  .movies .movie1 {
    position: absolute;
    cursor: pointer;
    border-radius: 20px;
    width: 45%;
    height: 240px;
    text-align: left;
    font-size: 1.3em;
    transition: 0.2s;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .movies .movie1 img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  .movies .movie1:hover {
    color: grey;
  }
  .movies .movie2 {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    margin-top: 0px;
    border-radius: 20px;
    width: 45%;
    height: 240px;
    text-align: left;
    font-size: 1.3em;
    transition: 0.2s;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    box-sizing: border-box;
  }
  .movies .movie2 img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  .movies .movie2:hover {
    color: grey;
  }
  .movies .movie3 {
    margin-top: 50%;
    cursor: pointer;
    margin: auto;
    position: absolute;
    top: 40%;
    left: 4%;
    border-radius: 20px;
    width: 50%;
    height: 240px;
    text-align: center;
    font-size: 1.3em;
    transition: 0.2s;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .movies .movie3 p {
    position: absolute;
    top: 20px;
    right: -400px;
  }
  .movies .movie3 img {
    width: 110%;
    height: auto;
    border-radius: 20px;
  }
  .movies .movie3:hover {
    color: grey;
  }
  .movies .movie4 {
    margin-top: 85%;
    cursor: pointer;
    border-radius: 20px;
    width: 99%;
    height: 240px;
    text-align: center;
    font-size: 1.3em;
    transition: 0.2s;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .movies .movie4 img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  .movies .movie4:hover {
    color: grey;
  }
  .movies .movie5 {
    margin-top: 85%;
    cursor: pointer;
    border-radius: 20px;
    width: 99%;
    height: 240px;
    text-align: center;
    font-size: 1.3em;
    transition: 0.2s;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .movies .movie5 img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  .movies .movie5:hover {
    color: grey;
  }
  .movies .movie6 {
    margin-top: 85%;
    cursor: pointer;
    border-radius: 20px;
    width: 99%;
    height: 240px;
    text-align: center;
    font-size: 1.3em;
    transition: 0.2s;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .movies .movie6 img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  .movies .movie6:hover {
    color: grey;
  }
  .movies .movie7 {
    margin-top: 30%;
    top: 110%;
    position: absolute;
    cursor: pointer;
    border-radius: 20px;
    width: 99%;
    height: 240px;
    text-align: center;
    font-size: 1.3em;
    transition: 0.2s;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .movies .movie7 img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  .movies .movie7:hover {
    color: grey;
  }
  .movie0 {
    z-index: 0;
    cursor: pointer;
    position: absolute;
    top: 90px;
    margin: auto;
    border-radius: 20px;
    width: 80%;
    left: 10%;
    max-width: 1000px;
    height: 240px;
    text-align: center;
    font-size: 1.3em;
    transition: 0.2s;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .movie0 img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  .movie0:hover {
    color: grey;
  }
  footer {
    background-color: rgb(3, 0, 52);
    width: 103%;
    height: 200px;
    position: absolute;
    bottom: -2100px;
    margin-left: -10px;
  }
  footer .topge {
    position: absolute;
    right: 10%;
    bottom: 40px;
  }
  footer p {
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    position: absolute;
    left: 5%;
    bottom: 40px;
  }
  #sidebar {
    position: relative;
    left: -60%;
  }
}
@media screen and (min-width: 1350px) {
  .topbar {
    background-color: rgb(3, 0, 52);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
    z-index: 2;
  }
  .topbar .menuicon {
    position: relative;
    left: -100%;
  }
  .topbar .logo {
    position: relative;
    top: -100px;
  }
  .topbar .logo2 {
    position: relative;
    left: -16%;
    width: 100px;
    top: 0px;
  }
  .topbar .topbarcenter {
    position: relative;
    top: -15px;
    z-index: 2;
    width: 100%;
    height: 50px;
  }
  .topbar .topbarcenter .tab {
    border: 2px solid red;
    width: 70px;
    border-radius: 10px;
    position: absolute;
    left: 10%;
    top: 30px;
  }
  .topbar .nav {
    color: white;
    text-decoration: none;
    font-size: 1.4em;
    padding: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    position: relative;
    top: -20px;
    left: -10%;
    width: 150px;
  }
  .topbar .topbarcenter {
    position: relative;
    left: 0%;
  }
  .topbar center {
    position: relative;
    left: 0%;
  }
  .topbar .whitelogin {
    width: 35px;
    position: absolute;
    right: 20%;
    top: 10px;
  }
  .topbar .whitesearch {
    width: 35px;
    position: absolute;
    right: 24%;
    top: 10px;
  }
  .topbar .widesearch {
    position: absolute;
    top: 10px;
    right: 24%;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: transparent;
    font-size: 0px;
    transition: 0.3s;
  }
  .topbar .widesearch:hover {
    position: absolute;
    border-radius: 20px;
    top: 10px;
    right: 23.3%;
    width: 150px;
    height: 35px;
    padding: 10px;
    background-color: white;
    font-size: large;
  }
  .movies {
    width: 60%;
    height: 1000px;
    position: relative;
    margin: auto;
    margin-top: 200px;
    display: flex;
    gap: 20px;
  }
  .movies .movie1 {
    cursor: pointer;
    border-radius: 20px;
    width: 45%;
    height: 240px;
    text-align: left;
    font-size: 1.3em;
    transition: 0.2s;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .movies .movie1 img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  .movies .movie1:hover {
    color: grey;
  }
  .movies .movie2 {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    margin-top: 0px;
    border-radius: 20px;
    width: 45%;
    height: 240px;
    text-align: left;
    font-size: 1.3em;
    transition: 0.2s;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    box-sizing: border-box;
  }
  .movies .movie2 img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  .movies .movie2:hover {
    color: grey;
  }
  .movies .movie3 {
    margin-top: 50%;
    cursor: pointer;
    margin: auto;
    position: absolute;
    top: 38%;
    left: 4%;
    border-radius: 20px;
    width: 50%;
    height: 240px;
    text-align: center;
    font-size: 1.3em;
    transition: 0.2s;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .movies .movie3 p {
    position: absolute;
    top: 20px;
    right: -400px;
  }
  .movies .movie3 img {
    width: 110%;
    height: auto;
    border-radius: 20px;
  }
  .movies .movie3:hover {
    color: grey;
  }
  .movies .movie4 {
    margin-top: 70%;
    cursor: pointer;
    border-radius: 20px;
    width: 99%;
    height: 240px;
    text-align: center;
    font-size: 1.3em;
    transition: 0.2s;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .movies .movie4 img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  .movies .movie4:hover {
    color: grey;
  }
  .movies .movie5 {
    margin-top: 70%;
    cursor: pointer;
    border-radius: 20px;
    width: 99%;
    height: 240px;
    text-align: center;
    font-size: 1.3em;
    transition: 0.2s;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .movies .movie5 img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  .movies .movie5:hover {
    color: grey;
  }
  .movies .movie6 {
    margin-top: 70%;
    cursor: pointer;
    border-radius: 20px;
    width: 99%;
    height: 240px;
    text-align: center;
    font-size: 1.3em;
    transition: 0.2s;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .movies .movie6 img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  .movies .movie6:hover {
    color: grey;
  }
  .movies .movie7 {
    margin-top: 30%;
    top: 75%;
    position: absolute;
    right: 100px;
    cursor: pointer;
    border-radius: 20px;
    width: 50%;
    height: 240px;
    text-align: center;
    font-size: 1.3em;
    transition: 0.2s;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .movies .movie7 p {
    position: absolute;
    top: 20px;
    left: -320px;
  }
  .movies .movie7 img {
    width: 110%;
    height: auto;
    border-radius: 20px;
  }
  .movies .movie7:hover {
    color: grey;
  }
  .movie0 {
    z-index: 0;
    cursor: pointer;
    position: absolute;
    top: 90px;
    margin: auto;
    max-width: 60%;
    border-radius: 20px;
    width: 100%;
    left: 20%;
    height: 240px;
    text-align: center;
    font-size: 1.3em;
    transition: 0.2s;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .movie0 img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  .movie0:hover {
    color: grey;
  }
  footer {
    background-color: rgb(3, 0, 52);
    width: 100.1%;
    height: 230px;
    margin-bottom: 0px;
    position: absolute;
    bottom: -1500px;
    margin-left: -10px;
  }
  footer .topge {
    position: absolute;
    right: 17%;
    bottom: 40px;
  }
  footer p {
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    position: absolute;
    left: 17%;
    bottom: 40px;
  }
  #sidebar {
    position: relative;
    left: -60%;
  }
}/*# sourceMappingURL=blog.css.map */