body{
    background-color: rgb(241, 241, 241);
    padding: 0px;
    overflow-x: hidden;
}


// .dark{
//     position: fixed;
//     z-index: 2;
//     width: 40px;
//     height: 40px;
//     top: 10px;
//     left: 20px;
// }

// .dark:hover{
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.292);
//     position: fixed;
//     z-index: 2;
//     top: 0px;
//     left: 0px;
// }

.nav{
    position: relative;
    left: -100%;
}

.topbarcenter{
    position: relative;
    left: -100%;
}

center{
    position: relative;
    top: -500%; 
}

#sidebar{
    z-index: 5;
    position: fixed;
    left: 20px;
    height: 31px;
    width: 31px;
    top: 15px;
    header{
        position: relative;
        left: -1000%;
    }
    input{
        position: relative;
        left: -1000%;
        top: -1000%;
    }
    hr{
        border: transparent;
        position: relative;
        left: -1000px;
    }
    a{
        position: absolute;
        left: -1000px;
    }
}

#sidebar:hover{
    width: 50%;
    height: 96%;
    background-color: rgb(253, 253, 253);
    position: fixed;
    z-index: 5;
    left: 0px;
    top: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    header{
        position: fixed;
        left: 30px;
        font-size: 2.3em;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    input{
        position: fixed;
        left: 4%;
        width: 48%;
        top: 100px;
        height: 40px;
        border-radius: 20px;
        font-size: 1.1em;
        border: 2px solid rgb(161, 161, 161);
        padding: 10px;
    }
    a{
        position: relative;
        top: 150px;
        left: 20px;
        font-size: 1.4em;
        color: black;
        text-decoration: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    hr{
        position: relative;
        top: 150px;
        border: 1px solid rgb(184, 184, 184);
        left: 0px;
    }
}



.topbar{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 93%;
    height: 20px;
    background-color: rgb(255, 255, 255);
    margin-top: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    z-index: 4;

    .logo{
        width: 120px;
        position: relative;
        top: 80px;
    }

    .logo2{
        width: 0px;
    }

    .menuicon{
        width: 31px;
        position: relative;
        top: -70px;
    }

    .blacklogin{
        width: 40px;
        position: absolute;
        left: 192%;
        top: -10px;
    }

    .whitelogin{
        width: 0px;
    }
    
    .whitesearch{
        width: 0px;
    }

    .tab{
        border: transparent;
    }
}
.selection{
    width: 98%;
    margin: auto;
    border: transparent;
    height: 40px;
    margin-top: 60px;
    display: flex;
    gap: 10px;
    padding: 10px;
    .knopka{
        margin: auto;
        z-index: 4;
        background-color: rgb(255, 255, 255);
        height: 100%;
        width: 100px;
        box-sizing: border-box;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        transition: 0.2s;
        cursor: pointer;
    }
    .knopka:hover{
        background-color: rgb(255, 6, 6);
        color: white;
        height: 100%;
        width: 110px;
        box-sizing: border-box;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
    }
    .altknopka{
        position: absolute;
        z-index: 0;
        top: -100px;
    }
}

.news{
    width: 90%;
    height: 2000px;
    border: transparent;
    margin: auto;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    img{
        margin-top: 10px;
        width: 100%;
        border-radius: 10px;
        transition: 0.2s;
    }
    h5{
        cursor: pointer;
        margin-top: 5px;
        color: gray;
    }
    .second{
        position: absolute;
        left: 10000px;
        .ad{
            position: absolute;
            top: 7%;
            width: 100%;
        }
        .ad2{
            width: 400px;
            height: auto;
            position: absolute;
            right: 0%;
            bottom: 35%;
            border-radius: 0px;
        }
        h2{
            position: absolute;
            top: -220px;
            left: 51%;
            font-weight: normal;
            width: 70%;
        }
        h4{
            position: absolute;
            top: -140px;
            left: 52%;
            font-weight: normal;
            color: gray;
        }
        .third{
            width: 15%;
            position: absolute;
            top: -210px;
            right: 0%;
        }
    }
}
footer{
    color: transparent;
    .topge{
        opacity: 0;
    }
}
@media screen and (min-width: 770px) {
    .topbar{
        background-color: rgb(3, 0, 52);
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        width: 100%;
        .menuicon{
                position: relative;
                left: -100%;
        }
        
        .logo{
            position: relative;
            top: -100px;
        }
        .logo2{
            position: absolute;
            left: -1%;
            width: 100px;
            top: -30px;
        }

        .topbarcenter{
            position: relative;
            top: 15px;
            z-index: 2;
            width: 100%;
            height: 50px;
        }

        .nav{
            color: white;
            text-decoration: none;
            font-size: 1.4em;
            padding: 10px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            position: relative;
            top: -20px;
            left: -10%;
            width: 150px;
            
        }
        .topbarcenter{
            position: relative;
            left: 0%;
            
            .tab{
                border: 2px solid red;
                width: 80px;    
                border-radius: 10px;
                position: absolute;
                left: 2%;
                top: 20px;
            }
        }
        center{
            position: relative;
            left: 0%; 
        }
        .whitelogin{
            width: 35px;
            position: absolute;
            right: 4%;
            top: -20px;
        }
        .whitesearch{
            width: 35px;
            position: absolute;
            right: 10%;
            top: -20px;
        }
        .widesearch{
            position: absolute;
            top: -20px;
            right: 10%;
            height: 40px;
            width: 40px;
            background-color: transparent;
            border: transparent;
            font-size: 0px;
            transition:.3s;

        }
        .widesearch:hover{
            position: absolute;
            border-radius: 20px;
            top: -20px;
            right: 9%;
            width: 150px;
            height: 35px;
            padding: 10px;
            background-color: white;
            font-size:large;
        }

    }    
            
    .selection{
        position: relative;
        width: 97%;
        margin: auto;
        border: transparent;
        height: 40px;
        margin-top: 30px;
        display: flex;
        gap: 10px;
        padding: 10px;
        z-index: 2;
        .knopka{
            background-color: rgb(255, 255, 255);
            height: 120%;
            font-size: 1.2em;
            width: 170px;
            box-sizing: border-box;
            padding: 10px;
            text-align: center;
            border-radius: 10px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: bold;
            transition: 0.2s;
            cursor: pointer;
        }
        .knopka:hover{
            background-color: rgb(255, 6, 6);
            color: white;
            height: 120%;
            font-size: 1.2em;
            width: 170px;
            box-sizing: border-box;
            padding: 10px;
            text-align: center;
            border-radius: 10px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: bold;
        }
        .altknopka{
            position: relative;
            top: 1px;
            margin: auto;
            background-color: rgb(255, 255, 255);
            height: 120%;
            font-size: 1.2em;
            width: 170px;
            box-sizing: border-box;
            padding: 10px;
            text-align: center;
            border-radius: 10px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: bold;
            transition: 0.2s;
            cursor: pointer;
        }
        .altknopka:hover{
            background-color: rgb(255, 6, 6);
            color: white;
            height: 120%;
            font-size: 1.2em;
            width: 170px;
            box-sizing: border-box;
            padding: 10px;
            text-align: center;
            border-radius: 10px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: bold;
        }
    }
    .news{
        width: 90%;
        height: 1600px;
        border: transparent;
        margin: auto;
        font-weight: bold;
        cursor: pointer;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        .second{
            position: absolute;
            left: 10000px;
            .ad{
                position: absolute;
                top: 7%;
                width: 100%;
            }
            .ad2{
                width: 400px;
                height: auto;
                position: absolute;
                right: 0%;
                bottom: 35%;
                border-radius: 0px;
            }
            h2{
                position: absolute;
                top: -220px;
                left: 51%;
                font-weight: normal;
                width: 70%;
            }
            h4{
                position: absolute;
                top: -140px;
                left: 52%;
                font-weight: normal;
                color: gray;
            }
            .third{
                width: 15%;
                position: absolute;
                top: -210px;
                right: 0%;
            }
        }
        .popular{
            position: absolute;
            width: 20%;
            .popular2{
                position: absolute;
                width: 100%;
                top: 20px;
                left: 115%;
            }
            .popular3{
                position: absolute;
                width: 100%;
                top: 20px;
                left: 225%;
            }
            .popular4{
                position: absolute;
                width: 100%;
                top: 20px;
                left: 340%;
            }
        }
        img{
            margin-top: 10px;
            width: 100%;
            border-radius: 10px;
            transition: 0.2s;
        }
        h5{
            cursor: pointer;
            margin-top: 5px;
            color: gray;
        }
        article{
            position: relative;
            top: 320px;
            width: 400px;
            left: 200px;
            p{
                margin-left: -200px;
            }
            img{
                display: flex;
                position: absolute;
                left: -50%;
                width: 40%;
                
            }
              
        }

    }
    footer{
        color: transparent;
        .topge{
            opacity: 0;
        }
    }
        
    #sidebar{
        position: relative;
        left: -60%;
    }
    
}

@media screen and (min-width: 1350px) {
    .topbar{
        background-color: rgb(3, 0, 52);
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        width: 100%;
        .menuicon{
                position: relative;
                left: -100%;
        }
        .logo{
            position: relative;
            top: -100px;
        }
        .logo2{
            position: relative;
            left: -16%;
            width: 100px;
            top: 0px;
        }

        .topbarcenter{
            position: relative;
            top: -15px;
            z-index: 2;
            width: 100%;
            height: 50px;
            .tab{
                border: 2px solid red;
                width: 80px;    
                border-radius: 10px;
                position: absolute;
                left: 10%;
                top: 30px;
            }
        }

        .nav{
            color: white;
            text-decoration: none;
            font-size: 1.4em;
            padding: 10px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            position: relative;
            top: -20px;
            left: -10%;
            width: 150px;
            
        }
        .topbarcenter{
            position: relative;
            left: 0%;
        }
        center{
            position: relative;
            left: 0%; 
        }
        .whitelogin{
            width: 35px;
            position: absolute;
            right: 20%;
            top: 10px;
        }
        .whitesearch{
            width: 35px;
            position: absolute;
            right: 24%;
            top: 10px;
        }
        .widesearch{
            position: absolute;
            top: 10px;
            right: 24%;
            height: 40px;
            width: 40px;
            background-color: transparent;
            border: transparent;
            font-size: 0px;
            transition:.3s;

        }
        .widesearch:hover{
            position: absolute;
            border-radius: 20px;
            top: 10px;
            right: 23.3%;
            width: 150px;
            height: 35px;
            padding: 10px;
            background-color: white;
            font-size:large;
        }
    }    
    .selection{
        position: relative;
        width: 62%;
        margin: auto;
        border: transparent;
        height: 40px;
        margin-top: 30px;
        display: flex;
        gap: 10px;
        padding: 10px;
        z-index: 2;
        .knopka{
            background-color: rgb(255, 255, 255);
            height: 120%;
            font-size: 1.2em;
            width: 170px;
            box-sizing: border-box;
            padding: 10px;
            text-align: center;
            border-radius: 10px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: bold;
            transition: 0.2s;
            cursor: pointer;
        }
        .knopka:hover{
            background-color: rgb(255, 6, 6);
            color: white;
            height: 120%;
            font-size: 1.2em;
            width: 170px;
            box-sizing: border-box;
            padding: 10px;
            text-align: center;
            border-radius: 10px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: bold;
        }
        .altknopka{
            position: relative;
            top: 1px;
            margin: auto;
            background-color: rgb(255, 255, 255);
            height: 120%;
            font-size: 1.2em;
            width: 170px;
            box-sizing: border-box;
            padding: 10px;
            text-align: center;
            border-radius: 10px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: bold;
            transition: 0.2s;
            cursor: pointer;
        }
        .altknopka:hover{
            background-color: rgb(255, 6, 6);
            color: white;
            height: 120%;
            font-size: 1.2em;
            width: 170px;
            box-sizing: border-box;
            padding: 10px;
            text-align: center;
            border-radius: 10px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: bold;
        }
    }
    .news{
        position: relative;
        top: 260px;
        width: 63%;
        height: 2000px;
        border: transparent;
        margin: auto;
        font-weight: bold;
        cursor: pointer;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        .first{
            width: 50%;
            position: relative;
            top: -260px;
        }
        .popular{
            width: 22.7%;
        }
        .second{
            position: unset;
            .ad{
                position: absolute;
                top: 7%;
                width: 100%;
            }
            .ad2{
                width: 400px;
                height: auto;
                position: absolute;
                right: 0%;
                bottom: 35%;
                border-radius: 0px;
            }
            .ad3{
                position: absolute;
                bottom: 200px;
                width: 100%;
            }
            h2{
                position: absolute;
                top: -220px;
                left: 51%;
                font-weight: normal;
                width: 70%;
            }
            h4{
                position: absolute;
                top: -140px;
                left: 52%;
                font-weight: normal;
                color: gray;
            }
            .third{
                width: 15%;
                position: absolute;
                top: -210px;
                right: 0%;
            }
        }
        img{
            margin-top: 10px;
            width: 100%;
            border-radius: 10px;
            transition: 0.2s;
        }
        h5{
            cursor: pointer;
            margin-top: 5px;
            color: gray;
        }


    }
    footer{
        background-color:  rgb(3, 0, 52);
        width: 100.1%;
        height: 230px;
        margin-bottom: 0px;
        position: absolute;
        bottom: -1620px;
        margin-left: -10px;
        .topge{
            position: absolute;
            right: 17%;
            bottom: 40px;
            opacity: 1;

        }
        p{
            color: white;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            position: absolute;
            left: 17%;
            bottom: 40px;
        }
    }
    #sidebar{
        position: relative;
        left: -60%;
    }
}


