body {
  background-color: rgb(241, 241, 241);
  padding: 0px;
  overflow-x: hidden;
}

.nav {
  position: relative;
  left: -100%;
}

.topbarcenter {
  position: relative;
  left: -100%;
}

center {
  position: relative;
  top: -500%;
}

#sidebar {
  z-index: 3;
  position: fixed;
  left: 20px;
  height: 31px;
  width: 31px;
  top: 15px;
}
#sidebar header {
  position: relative;
  left: -1000%;
}
#sidebar input {
  position: relative;
  left: -1000%;
  top: -1000%;
}
#sidebar hr {
  border: transparent;
  position: relative;
  left: -1000px;
}
#sidebar a {
  position: absolute;
  left: -1000px;
}

#sidebar:hover {
  width: 50%;
  height: 96%;
  background-color: rgb(253, 253, 253);
  position: fixed;
  z-index: 3;
  left: 0px;
  top: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;
}
#sidebar:hover header {
  position: fixed;
  left: 30px;
  font-size: 2.3em;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#sidebar:hover input {
  position: fixed;
  left: 4%;
  width: 48%;
  top: 100px;
  height: 40px;
  border-radius: 20px;
  font-size: 1.1em;
  border: 2px solid rgb(161, 161, 161);
  padding: 10px;
}
#sidebar:hover a {
  position: relative;
  top: 150px;
  left: 20px;
  font-size: 1.4em;
  color: black;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#sidebar:hover hr {
  position: relative;
  top: 150px;
  border: 1px solid rgb(184, 184, 184);
  left: 0px;
}

.topbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 93%;
  height: 20px;
  background-color: rgb(255, 255, 255);
  margin-top: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;
  z-index: 2;
}
.topbar .logo {
  width: 120px;
  position: relative;
  top: 80px;
}
.topbar .logo2 {
  width: 0px;
}
.topbar .menuicon {
  width: 31px;
  position: relative;
  top: -70px;
}
.topbar .blacklogin {
  width: 40px;
  position: absolute;
  left: 192%;
  top: -10px;
}
.topbar .whitelogin {
  width: 0px;
}
.topbar .whitesearch {
  width: 0px;
}
.topbar .tab {
  border: transparent;
}

footer {
  width: 250px;
  background: linear-gradient(rgb(3, 0, 52), darkblue);
  height: 400px;
  position: relative;
  top: 80px;
  border-radius: 20px;
  padding: 70px;
  z-index: 0;
  margin: auto;
}
footer .inputa {
  border-radius: 10px;
  padding: 8px;
  border: 2px solid rgba(225, 255, 255, 0.736);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: relative;
  width: 90%;
}
footer button {
  width: 99%;
  height: 36 px;
  border-radius: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  font-size: 1.3em;
  border: transparent;
  background: linear-gradient(rgb(39, 39, 183), rgb(31, 26, 127));
  cursor: pointer;
  transition: 0.2s;
}
footer button:hover {
  width: 99%;
  height: 36 px;
  border-radius: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  font-size: 1.4em;
  border: transparent;
  background: linear-gradient(rgb(31, 26, 127), rgb(39, 39, 183));
  cursor: pointer;
  transition: 0.2s;
}
footer a {
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: aliceblue;
  transition: 0.2s;
}
footer a:hover {
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: aliceblue;
  font-size: 1.1em;
}
footer hr {
  width: 70px;
  border: 2px solid whitesmoke;
  border-radius: 20px;
  margin: auto;
}
footer p {
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: aliceblue;
}
footer .logindetails {
  border: 2px aliceblue solid;
  border-radius: 20px;
  padding: 10px;
}

.news {
  position: relative;
  top: 100px;
  width: 95%;
  height: 1600px;
  border: transparent;
  margin: auto;
  font-weight: bold;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.news img {
  margin-top: 10px;
  width: 100%;
  border-radius: 10px;
  transition: 0.2s;
}
.news h5 {
  cursor: pointer;
  margin-top: 5px;
  color: gray;
}
.news button {
  position: relative;
  left: 50%;
  width: 200px;
  height: 60px;
  padding: 10px;
  border-radius: 20px;
  border: transparent;
  background: linear-gradient(rgb(3, 0, 52), darkblue);
}
.news a {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2em;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
}

@media screen and (min-width: 770px) {
  .topbar {
    background-color: rgb(3, 0, 52);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
  }
  .topbar .menuicon {
    position: relative;
    left: -100%;
  }
  .topbar .logo {
    position: relative;
    top: -100px;
  }
  .topbar .logo2 {
    position: absolute;
    left: -1%;
    width: 100px;
    top: -30px;
  }
  .topbar .topbarcenter {
    position: relative;
    top: 15px;
    z-index: 2;
    width: 100%;
    height: 50px;
  }
  .topbar .nav {
    color: white;
    text-decoration: none;
    font-size: 1.4em;
    padding: 1px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    position: relative;
    top: -20px;
    left: -10%;
    width: 150px;
  }
  .topbar .topbarcenter {
    position: relative;
    left: 0%;
  }
  .topbar .topbarcenter .tab {
    border: 2px solid red;
    width: 25px;
    border-radius: 10px;
    position: absolute;
    right: 4.4%;
    top: 10px;
  }
  .topbar center {
    position: relative;
    left: 0%;
  }
  .topbar .whitelogin {
    width: 35px;
    position: absolute;
    right: 4%;
    top: -20px;
  }
  .topbar .whitesearch {
    width: 35px;
    position: absolute;
    right: 10%;
    top: -20px;
  }
  .topbar .widesearch {
    position: absolute;
    top: -20px;
    right: 10%;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: transparent;
    font-size: 0px;
    transition: 0.3s;
  }
  .topbar .widesearch:hover {
    position: absolute;
    border-radius: 20px;
    top: -20px;
    right: 9%;
    width: 150px;
    height: 35px;
    padding: 10px;
    background-color: white;
    font-size: large;
  }
  footer {
    top: 40px;
    margin-left: 3%;
  }
  .news {
    position: relative;
    top: -500px;
    left: 210px;
    width: 40%;
    height: 1000px;
    border: transparent;
    font-weight: bold;
    cursor: pointer;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .news img {
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    transition: 0.2s;
    display: flex;
  }
  .news h5 {
    cursor: pointer;
    margin-top: 5px;
    color: gray;
  }
  .news button {
    position: relative;
    left: 50%;
    width: 200px;
    height: 60px;
    padding: 10px;
    border-radius: 20px;
    border: transparent;
    background: linear-gradient(rgb(3, 0, 52), darkblue);
  }
  .news a {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 2em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  #sidebar {
    position: relative;
    left: -60%;
  }
}
@media screen and (min-width: 1350px) {
  .topbar {
    background-color: rgb(3, 0, 52);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
  }
  .topbar .menuicon {
    position: relative;
    left: -100%;
  }
  .topbar .logo {
    position: relative;
    top: -100px;
  }
  .topbar .logo2 {
    position: relative;
    left: -16%;
    width: 100px;
    top: 0px;
  }
  .topbar .topbarcenter {
    position: relative;
    top: -15px;
    z-index: 2;
    width: 100%;
    height: 50px;
  }
  .topbar .topbarcenter .tab {
    border: 2px solid red;
    width: 30px;
    border-radius: 10px;
    position: absolute;
    right: 20%;
    top: 39px;
  }
  .topbar .nav {
    color: white;
    text-decoration: none;
    font-size: 1.4em;
    padding: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    position: relative;
    top: -20px;
    left: -10%;
    width: 150px;
  }
  .topbar .topbarcenter {
    position: relative;
    left: 0%;
  }
  .topbar center {
    position: relative;
    left: 0%;
  }
  .topbar .whitelogin {
    width: 35px;
    position: absolute;
    right: 20%;
    top: 10px;
  }
  .topbar .whitesearch {
    width: 35px;
    position: absolute;
    right: 24%;
    top: 10px;
  }
  .topbar .widesearch {
    position: absolute;
    top: 10px;
    right: 24%;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: transparent;
    font-size: 0px;
    transition: 0.3s;
  }
  .topbar .widesearch:hover {
    position: absolute;
    border-radius: 20px;
    top: 10px;
    right: 23.3%;
    width: 150px;
    height: 35px;
    padding: 10px;
    background-color: white;
    font-size: large;
  }
  footer {
    top: 100px;
  }
  .news {
    position: relative;
    top: -400px;
    margin-right: 42%;
    width: 40%;
    height: 600px;
    border: transparent;
    font-weight: bold;
    cursor: pointer;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    box-sizing: border-box;
  }
  .news .first {
    width: 110%;
  }
  .news .popular {
    width: 40%;
    position: absolute;
    right: -60%;
    top: -100px;
  }
  .news img {
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    transition: 0.2s;
  }
  .news h5 {
    cursor: pointer;
    margin-top: 5px;
    color: gray;
  }
  .news button {
    position: relative;
    left: 50%;
    width: 200px;
    height: 60px;
    padding: 10px;
    border-radius: 20px;
    border: transparent;
    background: linear-gradient(rgb(3, 0, 52), darkblue);
  }
  .news a {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 2em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  #sidebar {
    position: relative;
    left: -60%;
  }
}/*# sourceMappingURL=login.css.map */