body {
  background-color: rgb(241, 241, 241);
  padding: 0px;
  overflow-x: hidden;
}

.nav {
  position: relative;
  left: -100%;
}

.topbarcenter {
  position: relative;
  left: -100%;
}

center {
  position: relative;
  top: -500%;
}

#sidebar {
  z-index: 3;
  position: fixed;
  left: 20px;
  height: 31px;
  width: 31px;
  top: 15px;
}
#sidebar header {
  position: relative;
  left: -1000%;
}
#sidebar input {
  position: relative;
  left: -1000%;
  top: -1000%;
}
#sidebar hr {
  border: transparent;
  position: relative;
  left: -1000px;
}
#sidebar a {
  position: absolute;
  left: -1000px;
}

#sidebar:hover {
  width: 50%;
  height: 96%;
  background-color: rgb(253, 253, 253);
  position: fixed;
  z-index: 3;
  left: 0px;
  top: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;
}
#sidebar:hover header {
  position: fixed;
  left: 30px;
  font-size: 2.3em;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#sidebar:hover input {
  position: fixed;
  left: 4%;
  width: 48%;
  top: 100px;
  height: 40px;
  border-radius: 20px;
  font-size: 1.1em;
  border: 2px solid rgb(161, 161, 161);
  padding: 10px;
}
#sidebar:hover a {
  position: relative;
  top: 150px;
  left: 20px;
  font-size: 1.4em;
  color: black;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#sidebar:hover hr {
  position: relative;
  top: 150px;
  border: 1px solid rgb(184, 184, 184);
  left: 0px;
}

.topbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 93%;
  height: 20px;
  background-color: rgb(255, 255, 255);
  margin-top: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;
  z-index: 2;
}
.topbar .logo {
  width: 120px;
  position: relative;
  top: 80px;
}
.topbar .logo2 {
  width: 0px;
}
.topbar .menuicon {
  width: 31px;
  position: relative;
  top: -70px;
}
.topbar .blacklogin {
  width: 40px;
  position: absolute;
  left: 192%;
  top: -10px;
}
.topbar .whitelogin {
  width: 0px;
}
.topbar .whitesearch {
  width: 0px;
}
.topbar .tab {
  border: transparent;
}

.quiz1 {
  position: absolute;
  top: 100px;
  margin: auto;
  font-size: 1.2em;
  width: 80%;
  left: 10%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.quiz1 img {
  width: 100%;
  border-radius: 20px;
}

.quiz2 {
  position: absolute;
  top: 55%;
  margin: auto;
  font-size: 1.2em;
  width: 80%;
  left: 10%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.quiz2 img {
  width: 100%;
  border-radius: 20px;
}

.quiz3 {
  position: absolute;
  top: 100%;
  margin: auto;
  font-size: 1.2em;
  width: 80%;
  left: 10%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.quiz3 img {
  width: 100%;
  border-radius: 20px;
}

.quiz4 {
  position: absolute;
  top: 145%;
  margin: auto;
  font-size: 1.2em;
  width: 80%;
  left: 10%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.quiz4 img {
  width: 100%;
  border-radius: 20px;
}

.quiz5 {
  position: absolute;
  top: 190%;
  margin: auto;
  font-size: 1.2em;
  width: 80%;
  left: 10%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.quiz5 img {
  width: 100%;
  border-radius: 20px;
}

.quiz6 {
  position: absolute;
  top: 235%;
  margin: auto;
  font-size: 1.2em;
  width: 80%;
  left: 10%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.quiz6 img {
  width: 100%;
  border-radius: 20px;
}

.quiz7 {
  position: absolute;
  top: 280%;
  margin: auto;
  font-size: 1.2em;
  width: 80%;
  left: 10%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.quiz7 img {
  width: 100%;
  border-radius: 20px;
}

.quiz8 {
  position: absolute;
  top: 325%;
  margin: auto;
  font-size: 1.2em;
  width: 80%;
  left: 10%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.quiz8 img {
  width: 100%;
  border-radius: 20px;
}

.quiz9 {
  position: absolute;
  top: 370%;
  margin: auto;
  font-size: 1.2em;
  width: 80%;
  left: 10%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.quiz9 img {
  width: 100%;
  border-radius: 20px;
}

.quiz10 {
  position: absolute;
  top: 415%;
  margin: auto;
  font-size: 1.2em;
  width: 80%;
  left: 10%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.quiz10 img {
  width: 100%;
  border-radius: 20px;
}

.quiz11 {
  position: absolute;
  top: 460%;
  margin: auto;
  font-size: 1.2em;
  width: 80%;
  left: 10%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.quiz11 img {
  width: 100%;
  border-radius: 20px;
}

.quiz12 {
  position: absolute;
  top: 505%;
  margin: auto;
  font-size: 1.2em;
  width: 80%;
  left: 10%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.quiz12 img {
  width: 100%;
  border-radius: 20px;
}

footer {
  background-color: rgb(3, 0, 52);
  width: 103%;
  height: 200px;
  position: absolute;
  bottom: -4200px;
  margin-left: -10px;
}
footer .topge {
  position: absolute;
  right: 10%;
  bottom: 40px;
}
footer p {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: absolute;
  left: 5%;
  bottom: 40px;
}

@media screen and (min-width: 770px) {
  .topbar {
    background-color: rgb(3, 0, 52);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
  }
  .topbar .menuicon {
    position: relative;
    left: -100%;
  }
  .topbar .logo {
    position: relative;
    top: -100px;
  }
  .topbar .logo2 {
    position: absolute;
    left: -1%;
    width: 100px;
    top: -30px;
  }
  .topbar .topbarcenter {
    position: relative;
    top: 15px;
    z-index: 2;
    width: 100%;
    height: 50px;
  }
  .topbar .nav {
    color: white;
    text-decoration: none;
    font-size: 1.4em;
    padding: 1px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    position: relative;
    top: -20px;
    left: -10%;
    width: 150px;
  }
  .topbar .topbarcenter {
    position: relative;
    left: 0%;
  }
  .topbar .topbarcenter .tab {
    border: 2px solid red;
    width: 54px;
    border-radius: 10px;
    position: absolute;
    left: 2%;
    top: 20px;
  }
  .topbar center {
    position: relative;
    left: 0%;
  }
  .topbar .whitelogin {
    width: 35px;
    position: absolute;
    right: 4%;
    top: -20px;
  }
  .topbar .whitesearch {
    width: 35px;
    position: absolute;
    right: 10%;
    top: -20px;
  }
  .topbar .widesearch {
    position: absolute;
    top: -20px;
    right: 10%;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: transparent;
    font-size: 0px;
    transition: 0.3s;
  }
  .topbar .widesearch:hover {
    position: absolute;
    border-radius: 20px;
    top: -20px;
    right: 9%;
    width: 150px;
    height: 35px;
    padding: 10px;
    background-color: white;
    font-size: large;
  }
  .quiz1 {
    position: absolute;
    top: 100px;
    margin: auto;
    font-size: 1.2em;
    width: 40%;
    left: 5%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .quiz1 img {
    width: 100%;
    border-radius: 20px;
  }
  .quiz2 {
    position: absolute;
    top: 100px;
    margin: auto;
    font-size: 1.2em;
    width: 40%;
    right: -40%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .quiz2 img {
    width: 100%;
    border-radius: 20px;
  }
  .quiz3 {
    position: absolute;
    top: 47%;
    margin: auto;
    font-size: 1.2em;
    width: 40%;
    left: 5%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .quiz3 img {
    width: 100%;
    border-radius: 20px;
  }
  .quiz4 {
    position: absolute;
    top: 47%;
    margin: auto;
    font-size: 1.2em;
    width: 40%;
    right: -40%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .quiz4 img {
    width: 100%;
    border-radius: 20px;
  }
  .quiz5 {
    position: absolute;
    top: 84%;
    margin: auto;
    font-size: 1.2em;
    width: 40%;
    left: 5%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .quiz5 img {
    width: 100%;
    border-radius: 20px;
  }
  .quiz6 {
    position: absolute;
    top: 84%;
    margin: auto;
    font-size: 1.2em;
    width: 40%;
    right: -40%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .quiz6 img {
    width: 100%;
    border-radius: 20px;
  }
  .quiz7 {
    position: absolute;
    top: 121%;
    margin: auto;
    font-size: 1.2em;
    width: 40%;
    left: 5%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .quiz7 img {
    width: 100%;
    border-radius: 20px;
  }
  .quiz8 {
    position: absolute;
    top: 121%;
    margin: auto;
    font-size: 1.2em;
    width: 40%;
    right: -40%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .quiz8 img {
    width: 100%;
    border-radius: 20px;
  }
  .quiz9 {
    position: absolute;
    top: 158%;
    margin: auto;
    font-size: 1.2em;
    width: 40%;
    left: 5%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .quiz9 img {
    width: 100%;
    border-radius: 20px;
  }
  .quiz10 {
    position: absolute;
    top: 158%;
    margin: auto;
    font-size: 1.2em;
    width: 40%;
    right: -40%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .quiz10 img {
    width: 100%;
    border-radius: 20px;
  }
  .quiz11 {
    position: absolute;
    top: 200%;
    margin: auto;
    font-size: 1.2em;
    width: 40%;
    left: 5%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .quiz11 img {
    width: 100%;
    border-radius: 20px;
  }
  .quiz12 {
    position: absolute;
    top: 200%;
    margin: auto;
    font-size: 1.2em;
    width: 40%;
    right: -40%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .quiz12 img {
    width: 100%;
    border-radius: 20px;
  }
  footer {
    background-color: rgb(3, 0, 52);
    width: 103%;
    height: 200px;
    position: absolute;
    bottom: -1500px;
    margin-left: -10px;
  }
  footer .topge {
    position: absolute;
    right: 10%;
    bottom: 40px;
  }
  footer p {
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    position: absolute;
    left: 5%;
    bottom: 40px;
  }
  #sidebar {
    position: relative;
    left: -60%;
  }
}
@media screen and (min-width: 1350px) {
  .topbar {
    background-color: rgb(3, 0, 52);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
  }
  .topbar .menuicon {
    position: relative;
    left: -100%;
  }
  .topbar .logo {
    position: relative;
    top: -100px;
  }
  .topbar .logo2 {
    position: relative;
    left: -16%;
    width: 100px;
    top: 0px;
  }
  .topbar .topbarcenter {
    position: relative;
    top: -15px;
    z-index: 2;
    width: 100%;
    height: 50px;
  }
  .topbar .topbarcenter .tab {
    border: 2px solid red;
    width: 57px;
    border-radius: 10px;
    position: absolute;
    left: 10%;
    top: 30px;
  }
  .topbar .nav {
    color: white;
    text-decoration: none;
    font-size: 1.4em;
    padding: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    position: relative;
    top: -20px;
    left: -10%;
    width: 150px;
  }
  .topbar .topbarcenter {
    position: relative;
    left: 0%;
  }
  .topbar center {
    position: relative;
    left: 0%;
  }
  .topbar .whitelogin {
    width: 35px;
    position: absolute;
    right: 20%;
    top: 10px;
  }
  .topbar .whitesearch {
    width: 35px;
    position: absolute;
    right: 24%;
    top: 10px;
  }
  .topbar .widesearch {
    position: absolute;
    top: 10px;
    right: 24%;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: transparent;
    font-size: 0px;
    transition: 0.3s;
  }
  .topbar .widesearch:hover {
    position: absolute;
    border-radius: 20px;
    top: 10px;
    right: 23.3%;
    width: 150px;
    height: 35px;
    padding: 10px;
    background-color: white;
    font-size: large;
  }
  .quiz1 {
    position: absolute;
    top: 100px;
    margin: auto;
    font-size: 1.2em;
    width: 15%;
    left: 19%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .quiz1 img {
    width: 100%;
    border-radius: 20px;
  }
  .quiz2 {
    position: absolute;
    top: 100px;
    margin: auto;
    font-size: 1.2em;
    width: 15%;
    right: 25%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .quiz2 img {
    width: 100%;
    border-radius: 20px;
  }
  .quiz3 {
    position: absolute;
    top: 100px;
    margin: auto;
    font-size: 1.2em;
    width: 15%;
    left: 51%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .quiz3 img {
    width: 100%;
    border-radius: 20px;
  }
  .quiz4 {
    position: absolute;
    top: 100px;
    margin: auto;
    font-size: 1.2em;
    width: 15%;
    right: -39%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .quiz4 img {
    width: 100%;
    border-radius: 20px;
  }
  .quiz5 {
    position: absolute;
    top: 40%;
    margin: auto;
    font-size: 1.2em;
    width: 15%;
    left: 19%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .quiz5 img {
    width: 100%;
    border-radius: 20px;
  }
  .quiz6 {
    position: absolute;
    top: 40%;
    margin: auto;
    font-size: 1.2em;
    width: 15%;
    right: 25%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .quiz6 img {
    width: 100%;
    border-radius: 20px;
  }
  .quiz7 {
    position: absolute;
    top: 40%;
    margin: auto;
    font-size: 1.2em;
    width: 15%;
    left: 51%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .quiz7 img {
    width: 100%;
    border-radius: 20px;
  }
  .quiz8 {
    position: absolute;
    top: 40%;
    margin: auto;
    font-size: 1.2em;
    width: 15%;
    right: -39%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .quiz8 img {
    width: 100%;
    border-radius: 20px;
  }
  .quiz9 {
    position: absolute;
    top: 68%;
    margin: auto;
    font-size: 1.2em;
    width: 15%;
    left: 19%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .quiz9 img {
    width: 100%;
    border-radius: 20px;
  }
  .quiz10 {
    position: absolute;
    top: 68%;
    margin: auto;
    font-size: 1.2em;
    width: 15%;
    right: 25%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .quiz10 img {
    width: 100%;
    border-radius: 20px;
  }
  .quiz11 {
    position: absolute;
    top: 68%;
    margin: auto;
    font-size: 1.2em;
    width: 15%;
    left: 51%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .quiz11 img {
    width: 100%;
    border-radius: 20px;
  }
  .quiz12 {
    position: absolute;
    top: 68%;
    margin: auto;
    font-size: 1.2em;
    width: 15%;
    right: -39%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .quiz12 img {
    width: 100%;
    border-radius: 20px;
  }
  footer {
    background-color: rgb(3, 0, 52);
    width: 100.1%;
    height: 230px;
    margin-bottom: 0px;
    position: absolute;
    bottom: -200px;
    margin-left: -10px;
  }
  footer .topge {
    position: absolute;
    right: 17%;
    bottom: 40px;
  }
  footer p {
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    position: absolute;
    left: 17%;
    bottom: 40px;
  }
  #sidebar {
    position: relative;
    left: -60%;
  }
}/*# sourceMappingURL=quiz.css.map */